button {
    width: 250px;
    height: 80px;
    font-family: Roboto, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border: 2px solid white;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
}
button:hover {
    background-color: rgb(54, 54, 47);
   
}

.boton-clic {
    background-color: rgb(117, 78, 27);
}

.boton-reiniciar {
    background-color: rgb(117, 78, 27);
}